@use '../helpers/' as *;

.advantages {
    background-color: var(--color-accent);
    padding-block: rem(100);
    box-shadow: 0 13px 20px var(--color-gray-60);
    position: relative;
    z-index: 5;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(55);

        &-item {
            display: flex;
            flex-direction: column;
            border-radius: rem(15);
            -webkit-border-radius: rem(15);
            -moz-border-radius: rem(15);
            -ms-border-radius: rem(15);
            -o-border-radius: rem(15);
            background-color: var(--color-light);
            padding: rem(25) rem(25);
            font-size: fluid(20, 14);
            background: linear-gradient(180deg, var(--color-blue) 27%, #9fc0ff 137%);

            svg {
                max-width: 65px;
                max-height: 65px;
                background-color: var(--color-light);
                padding: 8px;
                border-radius: 10px;
                color: var(--color-accent);
                box-shadow: var(--shadow-icons);

                @include mobile-s {
                    max-width: 50px;
                    max-height: 50px;
                }
            }

            div {
                padding: rem(45) rem(30);

                @include mobile-s {
                    padding: rem(10) rem(10);
                }
            }

            h3 {
                margin-bottom: rem(10);
                text-align: center;
            }
        }

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }
}



