@use '../helpers/' as *;

.advantages {
    background-color: var(--color-accent);
    padding-block: rem(100);
    box-shadow: 0 13px 20px var(--color-gray-60);
    position: relative;
    z-index: 5;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(55);

        &-item {
            display: flex;
            flex-direction: column;
            border-radius: rem(15);
            -webkit-border-radius: rem(15);
            -moz-border-radius: rem(15);
            -ms-border-radius: rem(15);
            -o-border-radius: rem(15);
            background-color: var(--color-light);
            padding: rem(25) rem(25);
            font-size: fluid(20, 14);

            div {
                padding: rem(45) rem(30);
            }

            h3 {
                margin: 0;
                text-align: center;
            }
        }

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }
}