@use '../helpers/' as *;

.advantages {
    background-color: var(--color-accent);
    padding-block: rem(100);
    position: relative;
    z-index: 5;
    border-radius: 0 0 rem(30) rem(30);

    &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/reviews/reviews-bg.webp');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;
        z-index: 5;
        border-radius: 0 0 rem(30) rem(30);
        -webkit-border-radius: 0 0 rem(30) rem(30);
        -moz-border-radius: 0 0 rem(30) rem(30);
        -ms-border-radius: 0 0 rem(30) rem(30);
        -o-border-radius: 0 0 rem(30) rem(30);

        @include mobile-s {
            background-attachment: local;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(55);
        position: relative;
        z-index: 6;

        &-item {
            display: flex;
            flex-direction: column;
            border-radius: rem(15);
            -webkit-border-radius: rem(15);
            -moz-border-radius: rem(15);
            -ms-border-radius: rem(15);
            -o-border-radius: rem(15);
            background-color: var(--color-light);
            padding: rem(25) rem(25);
            font-size: fluid(20, 14);
            background: linear-gradient(180deg, var(--color-blue) 27%, #9fc0ff 137%);
            max-width: 450px;
            align-self: center;
            opacity: 0;
            transform: translateY(150px);
            -webkit-transform: translateY(150px);
            -moz-transform: translateY(150px);
            -ms-transform: translateY(150px);
            -o-transform: translateY(150px);

            &.in-view {
                opacity: 1;
                transition: 1s;
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
            }

            &:nth-child(1) {
                @include tablet-above {
                    transition-delay: 0.3s;
                }
            }

            &:nth-child(2) {
                @include tablet-above {
                    transition-delay: 1s;
                }
            }

            &:nth-child(3) {
                @include tablet-above {
                    transition-delay: 1.7s;
                }
            }

            svg {
                max-width: 65px;
                max-height: 65px;
                background-color: var(--color-light);
                padding: 8px;
                border-radius: 10px;
                color: var(--color-accent);
                box-shadow: var(--shadow-icons);

                @include mobile-s {
                    max-width: 50px;
                    max-height: 50px;
                }
            }

            div {
                padding: rem(45) rem(30);

                @include mobile-s {
                    padding: rem(10) rem(10);
                }
            }

            h3 {
                margin-bottom: rem(10);
                text-align: center;
            }
        }

        @include mobile {
            display: flex;
            flex-direction: column;
        }
    }
}



