@use '../helpers' as *;

.button {
    display: inline-flex;
    justify-content: center;
    padding: rem(20) rem(24);
    font-size: fluid(19, 15);
    color: var(--color-light);
    white-space: nowrap;
    background-color: var(--color-accent);
    border-radius: rem(12);
    border: 1px solid var(--color-accent);
    line-height: 0.5;


    @include laptop {
        padding: rem(14) rem(20);
        font-size: rem(14);
        border-radius: rem(8);
    }

    &:hover {
        background-color: var(--color-light-10);
        color: var(--color-accent);
        border-color: var(--color-accent);
    }

    &-accent {
        font-weight: 500;
        background-color: var(--color-accent);
        border-color: var(--color-accent);
        color: var(--color-light);
        border-radius: rem(8);
    }
}