@use '../helpers/' as *;

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-black);
    padding-top: rem(60);
    color: var(--color-light);
    bottom: 0;
    position: relative;

    &-logo {
        color: var(--color-light);

        &:hover {
            color: var(--color-light);
        }
    }

    .container {
        box-shadow: none;
    }

    &__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 2px solid var(--color-light);
        padding-bottom: rem(15);
        align-items: center;
        cursor: pointer;
        width: 100%;

        @include mobile-s {
            display: flex;
            flex-direction: column;
            gap: rem(30);
        }

        &-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: fluid(16, 13);
        }

        &-soc1als {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__company {
        align-self: center;
        padding-block: rem(15);
    }

    a {
        &:hover {
            color: var(--color-light-15);
        }
    }
}