@use '../helpers/' as *;

.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-light);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: rem(15);
    z-index: 20;

    &:not(.is-active) {
        display: none;
    }

    form {
        display: grid;
        gap: rem(15);
        padding: 0 rem(100) rem(30) rem(100);

        input {
            width: 100%;
            padding: rem(7) rem(10);
            border: rem(1) solid #ddd;
            border-radius: rem(4);
            box-sizing: border-box;
        }

        button {
            margin-top: rem(15);background-color: var(--color-accent);
            padding: rem(10) rem(40);
            border-radius: rem(10);
            color: var(--color-light);
            cursor: pointer;

            &:hover {
                background-color: var(--color-light);
                border: 1px solid var(--color-accent);
                border-color: var(--color-accent);
                color: var(--color-accent);
            }
        }
    }

    &__close-button {
        align-self: flex-end;
        width: fit-content;
        margin: rem(15);
        padding: rem(5);
        background-color: var(--color-light);
    }
}


