@use '../helpers/' as *;

.header {
    background-color: var(--color-black-bright-10);
    position: sticky;
    top: 0;
    z-index: 50;
    box-shadow: rem(0) rem(2) rem(15) var(--color-black-accent);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: rem(15);
    padding-inline: rem(50);
    color: var(--color-light);

    @include tablet {
        padding-inline: rem(35);
    }

    @include mobile {
        padding-inline: rem(20);
    }

    &__overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.1;

        &__nav {
            display: flex;
            align-items: center;
            font-size: fluid(18, 14);
            font-family: var(--font-family-base);
            font-weight: 500;

            :not(:last-child) {
                margin-right: rem(40);

                @include mobile-s {
                    margin-right: 0;
                    margin-bottom: rem(25);
                }
            }

            @include mobile-s {
                flex-direction: column;
            }
        }

        @include mobile {
            color: var(--color-black-accent);
            position: fixed;
            inset: 0;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 3rem;
            background-color: var(--color-light);
            transition-duration: var(--transition-duration);

            &.is-active {
                opacity: 1; 
                visibility: visible; 
                transform: translateY(0);
                transition: var(--transition-duration);
            }
            &:not(.is-active) {
                opacity: 0; 
                transition: var(--transition-duration);
                visibility: hidden; 
                transform: translateY(-650px); 

            }
        }
    }
}
