@use '../helpers' as *;

.header {
    position: relative;
    z-index: 10;
    background-color: var(--color-light-10);
    box-shadow: var(--shadow);
    height: var(--header-height);
    justify-content: center;
    display: flex;
    flex-direction: column;

    &__body {

        padding: rem(24) rem(70);

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 1rem;
        }

        @include mobile-s {
            padding: rem(15) rem(25);
        }
    }

    &__overlay {
        @include mobile-above {
            display: contents;
        }
        @include mobile {
            position: fixed;
            inset: 0;
            opacity: 1;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 3rem;
            background-color: var(--color-light-10);
            transition-duration: var(--transition-duration);

            &.is-active {
                opacity: 1; 
                visibility: visible; 
                transform: translateY(0);
                transition: var(--transition-duration);
            }
            &:not(.is-active) {
                opacity: 0; 
                transition: var(--transition-duration);
                visibility: hidden; 
                transform: translateY(-650px); 

            }
        }
    }

    &__menu {
        @include mobile {
            overflow-y: auto;
        }

        &-list {
            display: flex;
            align-items: center;
            column-gap: rem(45);
            font-size: fluid(19, 15);
            font-family: var(--font-family-accent);

            @include laptop {
                padding: rem(10) rem(18);
                column-gap: rem(30);
            }

            @include mobile {
                flex-direction: column;
                row-gap: 1rem;
            }
        }

        &-link {
            padding: rem(10) rem(24);
            color: var(--color-light-40);

            &.is-active {
                color: var(--color-accent);
                font-weight: 500;
                background-color: var(--color-light);
                border: var(--border);
                border-radius: rem(10);
                pointer-events: none;
            }
        }
    }

    &__contact-us-link {
        @include mobile {
            width: 100%;
            max-width: rem(300);
            align-self: center;
        }
    }
}