@use '../helpers' as *;

.hero {
    height: calc(100vh - var(--header-height));

    &__main {
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-areas: 
        'body resources-preview'
        'metrics resources-preview'
        ;

        @include tablet {
            grid-template-areas: 'body metrics' 'body metrics';
        }

        @include mobile-s {
            grid-template-areas: 'body body' 'metrics metrics';
        }
         

    }

    &__body {
        grid-area: body;
        padding: rem(110) rem(50) rem(100) 0;
        transform: translateX(rem(-650));
        opacity: 0;
        transition: 1.5s;

        &.is-visible {
            opacity: 1;
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
        }

        h1 {
            font-family: var(--font-family-title)
        }
    }

    &__subtitle {
        @include fluid-text(30, 18);

        font-family: var(--font-family-accent);
        font-weight: 500;
        color: var(--color-light-40);

        &:not(:last-child) {
            margin-bottom: rem(30);
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__resources-preview {
        grid-area: resources-preview;
        border-left: var(--border);

        svg {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
        }

        @include tablet {
            display: none;
        }
    }

    &__metrics {
        grid-area: metrics;
    }

    &__advantages {
        &-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            
        }

        &-item {
            --paddingX: #{rem(80)};

            padding-block: rem(50);

            &:not(:first-child) {
                padding-left: var(--paddingX);
            }

            &:not(:last-child) {
                padding-right: var(--paddingX);
            }
        }
    }
}