@use '../helpers' as *;

.hero {
    padding-top: rem(100);
    position: relative;
    background-image: url('../img/hero/hero-grad-1.png');
    background-repeat: no-repeat;
    background-position: left;

    // Псевдоэлемент для фона
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/hero/own-wave.png'), url('../img/hero/hero-grad-2.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom, right;
        z-index: 5;
    }

    @include mobile-s {
        background-image: none;
    }


    &__main {
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-areas: 
        'body resources-preview'
        'metrics resources-preview'
        ;
        padding-bottom: rem(40);
        position: relative;
        z-index: 1;

        @include tablet {
            grid-template-areas: 'body metrics' 'body metrics';
            height: 100%;
        }

        @include mobile-s {
            grid-template-areas: 'body body' 'metrics metrics';
        }
         

    }

    &__body {
        grid-area: body;
        padding: 4% 10% 10% 0;
        transform: translateX(rem(-650));
        opacity: 0;
        transition: 1.5s;

        @include tablet {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @include laptop-above {
            padding: rem(110) rem(50) rem(100) 0;
        }

        @include mobile-s {
            transform: translateX(rem(-250));
            -webkit-transform: translateX(rem(-250));
            -moz-transform: translateX(rem(-250));
            -ms-transform: translateX(rem(-250));
            -o-transform: translateX(rem(-250));
            padding: rem(20) rem(0) rem(65) 0;
            gap: rem(10);
        }

        &.is-visible {
            opacity: 1;
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
        }

        h1 {
            font-family: var(--font-family-title);

            @include mobile-s {
                margin-block: rem(10);
                white-space: pre-line;
            }
        }
    }

    &__subtitle {
        @include fluid-text(30, 16);

        font-family: var(--font-family-accent);
        font-weight: 500;
        color: var(--color-light-40);
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__resources-preview {
        grid-area: resources-preview;
        border-left: var(--border);

        svg {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
        }

        @include tablet {
            display: none;
        }
    }

    &__metrics {
        grid-area: metrics;
    }

    &__advantages {
        &-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            
        }

        &-item {
            --paddingX: #{rem(80)};

            padding-block: rem(50);

            &:not(:first-child) {
                padding-left: var(--paddingX);
            }

            &:not(:last-child) {
                padding-right: var(--paddingX);
            }
        }
    }
}