@use '../helpers/' as *;

.overlay {
    position: fixed;
    z-index: 15;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-transperty);

    &:not(.is-active) {
        display: none;
    }
}