@use '../helpers' as *;

.prices {
    padding-block: rem(100);
    position: relative;
    z-index: 5;

    &-star {
        color: var(--color-accent);
        display: flex;
        align-items: center;
        gap: rem(6);

        &::before {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='512' height='512' viewBox='0 0 512 512' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0 512) scale(0.1 -0.1)' fill='%232457ff' stroke='none'%3E%3Cpath d='M2479 4997 c-62 -23 -108 -57 -137 -100 -16 -23 -161 -351 -322 -729 -291 -682 -293 -688 -324 -693 -17 -2 -359 -34 -761 -70 -777 -70 -772 -69 -843 -130 -69 -58 -107 -183 -83 -272 6 -23 26 -62 44 -86 17 -25 273 -256 567 -513 294 -256 547 -478 562 -493 l28 -26 -166 -725 c-108 -474 -166 -746 -167 -785 -1 -106 53 -194 150 -241 70 -35 156 -37 223 -7 25 11 277 159 560 328 283 169 563 336 621 371 58 35 113 66 121 69 8 3 276 -151 644 -371 346 -207 649 -386 674 -397 67 -31 153 -28 223 7 97 47 151 135 150 241 -1 39 -59 311 -167 785 l-165 725 22 21 c12 12 265 234 562 494 297 259 555 492 572 517 41 56 57 113 50 180 -11 102 -79 193 -171 228 -28 11 -283 38 -794 84 -414 38 -755 71 -757 73 -2 2 -138 316 -301 698 -163 382 -309 711 -324 731 -62 77 -202 119 -291 86z'/%3E%3C/g%3E%3C/svg%3E");
            background-size: contain;
            width: rem(21);
            height: rem(21);
            display: block;
            position: relative;
            bottom: rem(2);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(55);

        &-item {
            display: flex;
            flex-direction: column;
            box-shadow: var(--shadow);
            border-radius: rem(15);
            -webkit-border-radius: rem(15);
            -moz-border-radius: rem(15);
            -ms-border-radius: rem(15);
            -o-border-radius: rem(15);
            padding: rem(75) rem(55) rem(45) rem(55);
            font-size: fluid(20, 16);
            color: var(--color-light-40);
            opacity: 0;
            transform: translateY(150px);
            -webkit-transform: translateY(150px);
            -moz-transform: translateY(150px);
            -ms-transform: translateY(150px);
            -o-transform: translateY(150px);
            transition: opacity 1s ease, transform 1s ease;


            &-start {
                background-color: var(--color-light-10);

                &.in-view {
                    opacity: 1;
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);

                    @include tablet-above {
                        transition-delay: 0.3s;
                    }
                }
            }

            &-medium {
                background-color: var(--color-blue);

                &.in-view {
                    opacity: 1;
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);

                    @include tablet-above {
                        transition-delay: 1s;
                    }
                }
            }

            &-premium {
                background: linear-gradient(115deg, var(--color-blue) 27%, #7494ff 160%);

                &.in-view {
                    opacity: 1;
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);

                    @include tablet-above {
                        transition-delay: 1.7s;
                    }
                }
            }

            h4 {
                color: var(--color-light-40);
                font-size: fluid(21, 22);
                margin: 0;
                display: flex;
                justify-content: space-between;
            }

            div {
                display: flex;
                align-items: flex-start;
                gap: rem(12);
                padding-block: rem(25);

                p {
                    margin: 0;
                }

                :first-child {
                    color: var(--color-accent);
                    font-size: fluid(50, 44);
                    line-height: 1;
                    font-weight: 600;
                }

                :last-child {
                    text-decoration: line-through;
                    font-size: fluid(26, 23);
                }
            }
            
            ul {
                display: flex;
                flex-direction: column;
                gap: rem(15);
                padding-left: rem(20);
            }

            @include mobile-s {
                
                padding: rem(43) rem(36) rem(29) rem(36);
            }
        }

        &-button {
            margin-top: rem(25);
            padding: rem(17) rem(28);
        }
    }
}