@use '../helpers' as *;

.prices {
    padding-block: rem(100);
    position: relative;
    z-index: 5;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(55);

        &-item {
            display: flex;
            flex-direction: column;
            box-shadow: var(--shadow);
            border-radius: rem(15);
            -webkit-border-radius: rem(15);
            -moz-border-radius: rem(15);
            -ms-border-radius: rem(15);
            -o-border-radius: rem(15);
            padding: rem(75) rem(55) rem(45) rem(55);
            font-size: fluid(20, 14);
            color: var(--color-light-40);
            opacity: 0;
            transform: translateY(150px);
            -webkit-transform: translateY(150px);
            -moz-transform: translateY(150px);
            -ms-transform: translateY(150px);
            -o-transform: translateY(150px);
            transition: opacity 1s ease, transform 1s ease;

            &-start {
                background-color: var(--color-light-10);

                &.in-view {
                    opacity: 1;
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);

                    @include tablet-above {
                        transition-delay: 0.3s;
                    }
                }
            }

            &-medium {
                background-color: var(--color-blue);

                &.in-view {
                    opacity: 1;
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);

                    @include tablet-above {
                        transition-delay: 1s;
                    }
                }
            }

            &-premium {
                background: linear-gradient(115deg, var(--color-blue) 27%, #7494ff 137%);

                &.in-view {
                    opacity: 1;
                    transform: translateY(0);
                    -webkit-transform: translateY(0);
                    -moz-transform: translateY(0);
                    -ms-transform: translateY(0);
                    -o-transform: translateY(0);

                    @include tablet-above {
                        transition-delay: 1.7s;
                    }
                }
            }

            h3 {
                color: var(--color-light-40);
            }

            div {
                display: flex;
                align-items: flex-start;
                gap: rem(12);
                padding-block: rem(25);

                p {
                    margin: 0;
                }

                :first-child {
                    color: var(--color-accent);
                    font-size: fluid(58, 30);
                    line-height: 1;
                }

                :last-child {
                    text-decoration: line-through;
                    font-size: fluid(26, 18);
                }
            }
            
            ul {
                display: flex;
                flex-direction: column;
                gap: rem(15);
                padding-left: rem(20);
            }

            h3 {
                margin: 0;
                text-align: center;
            }
        }

        &-button {
            margin-top: rem(25);
        }
    }
}