@use '../helpers' as *;

.reviews {
  max-width: rem(1000);
  width: 100%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  position: relative;
  background-color: var(--color-light-10);
  padding: rem(60) rem(25);
  border-radius: 12px;
  margin: 0 rem(5);

  &-container {
    background-color: var(--color-accent);
    padding-block: rem(50);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: rem(30);
    h2 {
      color: var(--color-light);
    }
  }

  &__viewport {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: var(--shadow);
    background-color: var(--color-light);
    max-width: rem(700);
    width: 100%;
    justify-self: center;
  }

  &__list {
    display: flex;
    transition: transform 0.5s ease;
    align-items: start;
  }

  &__item {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: rem(30);
    align-items: flex-start;
    justify-content: center;
    padding: rem(100) rem(100);

    @include mobile-s {
      padding: rem(70) rem(20);
    }

    &-name {
      display: flex;
      align-items: center;
      gap: rem(15);
    }
  }

  &__rating {
    color: var(--color-gold);
  }

  &__button {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-light);
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--shadow);
    font-size: 35px;

    &:disabled {
      opacity: 0;
      pointer-events: none;
    }

    &--prev {
      left: 120px;

      @include tablet {
        left: 0;
      }
    }

    &--next {
      right: 120px;

      @include tablet {
        right: 0;
      }
    }
  }
}