@use '../helpers/' as *;

.services {
    padding-bottom: rem(20);

    &__container {

        &-info { 

            &-list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 100%;
                gap: rem(40); 
                
                @include mobile-s {
                    display: flex;
                    flex-direction: column;
                }
            }

            &-item {
                display: flex;
                flex-direction: column;

                img {
                    margin-bottom: rem(20);
                }

                ul {
                    align-self: flex-start;
                }

                @include mobile-s {
                    align-items: center;
                }
            }
        }
    }
}