@use '../helpers' as *;

.soc1als {
    &__list {
        display: flex;
        column-gap: rem(20);
    }

    @include laptop {
        column-gap: rem(14);
    }

    &__item {
        display: flex;
    }
}