@use '../helpers' as *;

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    overflow: hidden;
}

.star {
    position: absolute;
    background: linear-gradient(45deg, var(--color-accent), #e3f2fd);
    border-radius: 50%;
    animation: fallDiagonal 0.7s linear forwards;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    pointer-events: none !important;
    
}

@keyframes fallDiagonal {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translate(100vw, 100vh) rotate(360deg);
        opacity: 0;
    }
}