@use '../helpers' as *;

.stages {
    margin-top: rem(50);

    &__list {
        display: flex;
        flex-direction: column;
        background-color: var(--color-light-10);
        padding-block: rem(30);
        border-radius: rem(10);
        position: relative;
        z-index: 5;
        cursor: pointer;  
        box-shadow: var(--shadow);   

        &-item {
            display: grid;
            grid-template-columns: 1fr 10fr 1fr;
            gap: rem(20);
            align-items: center;

            svg {
                justify-self: center;
                max-width: 45px;
                max-height: 45px;
                width: 100%;
                height: 100%;

                @include mobile-s {
                    max-width: 35px;
                    max-height: 35px;
                }
            }
            p {
                justify-self: center;
                margin-top: rem(15);
            }

            div {
                padding: rem(40);

                h4 {
                    color: var(--color-gray-50);
                }

                p {
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                &:not(:last-child) {
                    border-bottom: var(--border);
                }

                @include mobile-s {
                    padding: rem(20) rem(10);
                }
            }

            @include mobile-s {
                grid-template-columns: 1fr 5fr 1fr;
                gap: rem(9);
            }
        } 
    }

    &-svg {
        &-1 {
            position: absolute;
            left: 0;
            transform: rotateY(180deg) rotateX(180deg);
            z-index: 1;
            -webkit-transform: rotateY(180deg) rotateX(180deg);
            -moz-transform: rotateY(180deg) rotateX(180deg);
            -ms-transform: rotateY(180deg) rotateX(180deg);
            -o-transform: rotateY(180deg) rotateX(180deg);
            max-width: 500px;
            width: 100%;
            max-height: 1000px;
            height: 100%;
        }

        &-2 {
            position: absolute;
            right: 0;
            z-index: 1;
            transform: translateY(60%);
            -webkit-transform: translateY(60%);
            -moz-transform: translateY(60%);
            -ms-transform: translateY(60%);
            -o-transform: translateY(60%);
            overflow: hidden;
            max-width: 650px;
            width: 100%;
            height: 1000px;

            svg {
                transform: translateX(rem(150));
                -webkit-transform: translateX(rem(150));
                -moz-transform: translateX(rem(150));
                -ms-transform: translateX(rem(150));
                -o-transform: translateX(rem(150));
}
}

    }

    h2 {
        margin: 0;
        padding-block: rem(40);
    }
}