@use 'helpers' as *;

html {
    &.is-lock {
        overflow: hidden;
    }
}

body {
    @include fluid-text(18, 14);
    
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    letter-spacing: -0.03em;
    color: var(--color-light-40);
    background-color: var(--color-light);
    overflow-x: hidden;
    touch-action: manipulation;

}

main {
    flex-grow: 1;
}

svg:where(:not([class])) {
    color: var(--color-accent);
}

li:not([class]) {
    list-style: none;
    position: relative;
    padding-left: rem(25); 

    @include mobile-s {
        padding-left: rem(20);
    }
}

li:not([class])::before {
    content: "";
   background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"%3E%3Cpath fill="%23d7d7d7" d="M44 24a20 20 0 1 1-40 0 20 20 0 0 1 40 0z"/%3E%3Cpath fill="%237e9cff" d="M34.602 14.602 21 28.199l-5.602-5.598-2.797 2.797L21 33.801l16.398-16.402z"/%3E%3C/svg%3E');
    background-size: contain;
    color: var(--color-accent);
    width: rem(18);
    height: rem(18);
    position: absolute;
    left: 0;
    top: rem(2.5);
    color: var(--color-accent);

    @include mobile-s {
        width: rem(14);
        height: rem(14);
        top: rem(2);
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: var(--color-accent);
    font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: var(--font-family-accent);
}

h1, .h1 {
    font-weight: 700;
    letter-spacing: -3px;
    @include fluid-text(68, 39);

    line-height: 1.2;
}

h2, .h2 {
    @include fluid-text(58, 28);
    text-align: center;
    line-height: 1.3;
    margin-block: rem(20);
    font-family: var(--font-family-title);
}

h3, .h3 {
    @include fluid-text(26, 17);
    margin: 0;
}

h4, .h4 {
    @include fluid-text(22, 15);
    margin: 0;
}

h5, .h5 {
    @include fluid-text(20, 15);
}

h6, .h6 {
    @include fluid-text(19, 14);
}

a, 
button,
label,
input, 
textarea, 
select, 
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;//так же как в body

    &[class] {
        text-decoration: none;
    }
}

a:hover {
    color: var(--color-accent);
}

:focus-visible {
    outline: rem(2) dashed var(--color-light);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

a, 
button {
    &[aria-label] {
        position: relative;
        
        &::before {
            @include abs-center;
            @include square(rem(44));

            content: '';

        }
    }
}