@use 'helpers' as *;

html {
    &.is-lock {
        overflow: hidden;
    }
}

body {
    @include fluid-text(18, 14);
    
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    letter-spacing: -0.03em;
    color: var(--color-light-40);
    background-color: var(--color-light);
    overflow-x: hidden;
    touch-action: manipulation;

}

main {
    flex-grow: 1;
}

svg:where(:not([class])) {
    color: var(--color-accent);
}

li:not([class]) {
    list-style: none;
    position: relative;
    padding-left: rem(25); 

    @include mobile-s {
        padding-left: rem(20);
    }
}

li:not([class])::before {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23666666' d='M20.797 5.803l-.707.707-11.076 11.076-4.607-4.593-.707-.707L2.287 13.703l.707.707 6.021 6.006 12.488-12.49.707-.707-1.413-1.414z'/></svg>");
    background-size: contain;
    color: var(--color-accent);
    width: rem(16.4);
    height: rem(16.4);
    position: absolute;
    left: 0;
    top: rem(4.7);

    @include mobile-s {
        width: rem(14);
        height: rem(14);
        top: rem(2);
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: var(--color-accent);
    font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    font-family: var(--font-family-accent);
}

h1, .h1 {
    font-weight: 700;
    letter-spacing: -3px;
    @include fluid-text(68, 39);

    line-height: 1.2;
}

h2, .h2 {
    @include fluid-text(58, 28);
    text-align: center;
    line-height: 1.3;
    margin-block: rem(20);
    font-family: var(--font-family-title);
}

h3, .h3 {
    @include fluid-text(26, 17);
    margin: 0;
}

h4, .h4 {
    @include fluid-text(22, 15);
    margin: 0;
}

h5, .h5 {
    @include fluid-text(20, 15);
}

h6, .h6 {
    @include fluid-text(19, 14);
}

a, 
button,
label,
input, 
textarea, 
select, 
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: inherit;//так же как в body

    &[class] {
        text-decoration: none;
    }
}

a:hover {
    color: var(--color-accent);
}

:focus-visible {
    outline: rem(2) dashed var(--color-light);
    outline-offset: rem(4);
    transition-duration: 0s !important;
}

a, 
button {
    &[aria-label] {
        position: relative;
        
        &::before {
            @include abs-center;
            @include square(rem(44));

            content: '';

        }
    }
}