@use 'helpers' as *;

:root {
    --color-dark: #000000;

    --color-light: #ffffff;
    --color-light-10: #f7f7f7;
    --color-light-15: #d7d7d7;
    --color-light-20: #919191;
    --color-light-40: #666666;

    --color-gray-50: #7E7E81;
    --color-gray-60: #98989A;

    --color-accent: #2457ff;
    --color-blue: #7e9cff;
    --color-blue: #edf3ff;

    --color-animated-1: #497dff;
    --color-animated-2: #2457ff;
    --color-animated-3: #76acff;

    --color-gold: #f5a623;

    --color-transperty: #60606067;

    --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);

    --border: #{rem(1)} solid var(--color-light-15);

    --shadow:  #{rem(0)} #{rem(3)} #{rem(15)} var(--color-gray-50);
    --shadow-icons:  #{rem(0)} #{rem(3)} #{rem(15)} var(--color-gray-60);

    --font-family-base: "Nunito Sans", sans-serif;
    --font-family-accent: "Nunito Sans", sans-serif;
    --font-family-title: "Comfortaa", sans-serif;
    
    --container-width: #{rem(1330)};
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.5s;

    @include laptop {
        --container-width: #{rem(1280)};
    }

    @include mobile-s {
        --header-height: #{rem(90)};
    }
} 