@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use './blocks/form';
@use './blocks/overlay';
@use './blocks/burger-button';
@use './blocks/logo';
@use './blocks/header';
@use './blocks/button';
@use './blocks/animated-text';
@use './blocks/stars';

@use './blocks/soc1als';
@use './blocks/footer';

@use './blocks/metrics';
@use './blocks/resources-preview';
@use './blocks/advantages';
@use './blocks/hero';
@use './blocks/stages';
@use './blocks/prices';
@use './blocks/reviews';