@charset "UTF-8";
/*
Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

button {
  background-color: none;
  padding: 0;
  border: none;
  border-radius: 0;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: greenyellow;
}

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-light-10: #f7f7f7;
  --color-light-15: #d7d7d7;
  --color-light-20: #919191;
  --color-light-40: #666666;
  --color-gray-50: #7E7E81;
  --color-gray-60: #98989A;
  --color-accent: #2457ff;
  --color-blue: #7e9cff;
  --color-blue: #edf3ff;
  --color-black: #242424;
  --color-animated-1: #497dff;
  --color-animated-2: #2457ff;
  --color-animated-3: #76acff;
  --color-gold: #f5a623;
  --color-transperty: #60606067;
  --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);
  --border: 0.0625rem solid var(--color-light-15);
  --shadow: 0rem 0.1875rem 0.9375rem var(--color-gray-50);
  --shadow-icons: 0rem 0.1875rem 0.9375rem var(--color-gray-60);
  --font-family-base: "Nunito Sans", sans-serif;
  --font-family-accent: "Nunito Sans", sans-serif;
  --font-family-title: "Comfortaa", sans-serif;
  --container-width: 83.125rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.5s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}
@media (width <= 32.56125rem) {
  :root {
    --header-height: 5.625rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 59.43625rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 59.43625rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-light-40);
  background-color: var(--color-light);
  overflow-x: hidden;
  touch-action: manipulation;
}

main {
  flex-grow: 1;
}

svg:where(:not([class])) {
  color: var(--color-accent);
}

li:not([class]) {
  list-style: none;
  position: relative;
  padding-left: 1.5625rem;
}
@media (width <= 32.56125rem) {
  li:not([class]) {
    padding-left: 1.25rem;
  }
}

li:not([class])::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%23666666' d='M20.797 5.803l-.707.707-11.076 11.076-4.607-4.593-.707-.707L2.287 13.703l.707.707 6.021 6.006 12.488-12.49.707-.707-1.413-1.414z'/></svg>");
  background-size: contain;
  color: var(--color-accent);
  width: 1.025rem;
  height: 1.025rem;
  position: absolute;
  left: 0;
  top: 0.29375rem;
}
@media (width <= 32.56125rem) {
  li:not([class])::before {
    width: 0.875rem;
    height: 0.875rem;
    top: 0.125rem;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-accent);
  font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-accent);
}

h1, .h1 {
  font-weight: 700;
  letter-spacing: -3px;
  font-size: clamp(2.4375rem, 1.9754901961rem + 1.8954248366vw, 4.25rem);
  line-height: 1.2;
}

h2, .h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
  text-align: center;
  line-height: 1.3;
  margin-block: 1.25rem;
  font-family: var(--font-family-title);
}

h3, .h3 {
  font-size: clamp(1.0625rem, 0.9191176471rem + 0.5882352941vw, 1.625rem);
  margin: 0;
}

h4, .h4 {
  font-size: clamp(1.0625rem, 0.9828431373rem + 0.3267973856vw, 1.375rem);
  margin: 0;
}

h5, .h5 {
  font-size: clamp(0.9375rem, 0.8578431373rem + 0.3267973856vw, 1.25rem);
}

h6, .h6 {
  font-size: clamp(0.875rem, 0.7953431373rem + 0.3267973856vw, 1.1875rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.form-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  z-index: 20;
}
.form-container-section {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  max-width: 40.625rem;
  width: 100%;
  justify-self: center;
  border-radius: 0.5rem;
  border: var(--border);
  margin: 3.125rem 0.3125rem 6.25rem 0.3125rem;
  padding-block: 0.625rem 7.1875rem;
}
@media (width <= 32.56125rem) {
  .form-container-section {
    margin-block: 3.125rem 3.125rem;
    padding-block: 0.625rem 2.1875rem;
  }
}
.form-container-section h2 {
  margin-block: 3.75rem;
}
.form-container-section form {
  display: grid;
  gap: 0.9375rem;
  padding: 0 6.25rem 1.875rem 6.25rem;
}
.form-container-section form input {
  width: 100%;
  padding: 0.4375rem 0.625rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.form-container-section form button {
  margin-top: 0.9375rem;
  background-color: var(--color-accent);
  padding: 0.625rem 2.5rem;
  border-radius: 0.625rem;
  color: var(--color-light);
  cursor: pointer;
}
.form-container-section form button:hover {
  background-color: var(--color-light);
  outline: 1px solid var(--color-accent);
  color: var(--color-accent);
}
@media (width <= 32.56125rem) {
  .form-container-section form {
    padding: 0 1.875rem 1.875rem 1.875rem;
  }
}
.form-container:not(.is-active) {
  display: none;
}
.form-container form {
  display: grid;
  gap: 0.9375rem;
  padding: 0 6.25rem 1.875rem 6.25rem;
}
.form-container form input {
  width: 100%;
  padding: 0.4375rem 0.625rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.form-container form button {
  margin-top: 0.9375rem;
  background-color: var(--color-accent);
  padding: 0.625rem 2.5rem;
  border-radius: 0.625rem;
  color: var(--color-light);
  cursor: pointer;
}
.form-container form button:hover {
  background-color: var(--color-light);
  outline: 1px solid var(--color-accent);
  color: var(--color-accent);
}
.form-container__close-button {
  align-self: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.9375rem;
  padding: 0.3125rem;
  background-color: var(--color-light);
  font-size: 21px;
}

.overlay {
  position: fixed;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-transperty);
}
.overlay:not(.is-active) {
  display: none;
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-light-40);
  background-color: transparent;
  border: none;
}
.burger-button:hover {
  color: var(--color-accent);
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.24em 0.34em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  display: none;
}
.burger-button__line {
  background-color: currentColor;
  width: 100%;
  height: 0.125rem;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  width: 55%;
  align-self: end;
}

.logo {
  font-size: clamp(2.8125rem, 2.493872549rem + 1.3071895425vw, 4.0625rem);
  color: var(--color-accent);
  line-height: 1;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: var(--color-light-10);
  box-shadow: var(--shadow);
  justify-content: center;
  display: flex;
  flex-direction: column;
}
@media (width <= 32.56125rem) {
  .header {
    position: fixed;
    width: calc(100% - 0.625rem);
    margin-block: 0.3125rem;
    align-self: center;
    border-radius: 3.125rem;
  }
}
.header__body {
  padding: 0.9375rem 1.5625rem;
}
.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (width <= 32.56125rem) {
  .header__body {
    padding: 0.9375rem 1.5625rem;
  }
}
@media (width > 59.43625rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 59.43625rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    opacity: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    background-color: var(--color-light-10);
    transition-duration: var(--transition-duration);
  }
  .header__overlay.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    transition: var(--transition-duration);
    visibility: hidden;
    transform: translateY(-650px);
  }
}
@media (width <= 59.43625rem) {
  .header__menu {
    overflow-y: auto;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.8125rem;
       column-gap: 2.8125rem;
  font-size: clamp(0.9375rem, 0.8737745098rem + 0.2614379085vw, 1.1875rem);
  font-family: var(--font-family-accent);
}
@media (width <= 90.06125rem) {
  .header__menu-list {
    padding: 0.625rem 1.125rem;
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
@media (width <= 59.43625rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-link {
  padding: 0.625rem 1.5rem;
  color: var(--color-light-40);
}
.header__menu-link.is-active {
  color: var(--color-accent);
  font-weight: 500;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: 0.625rem;
  pointer-events: none;
}
@media (width <= 59.43625rem) {
  .header__contact-us-link {
    width: 100%;
    max-width: 18.75rem;
    align-self: center;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  padding: 1.25rem 1.5rem;
  font-size: clamp(0.9375rem, 0.8737745098rem + 0.2614379085vw, 1.1875rem);
  color: var(--color-light);
  white-space: nowrap;
  background-color: var(--color-accent);
  border-radius: 0.75rem;
  border: 1px solid var(--color-accent);
  line-height: 0.5;
}
@media (width <= 90.06125rem) {
  .button {
    padding: 0.875rem 1.25rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
  }
}
.button:hover {
  background-color: var(--color-light-10);
  color: var(--color-accent);
  border-color: var(--color-accent);
}
.button-accent {
  font-weight: 500;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-light);
  border-radius: 0.5rem;
}

.seamless-gradient-text {
  background: linear-gradient(90deg, var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-2));
  background-size: 1100% 500%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: seamless-flow 30s linear infinite;
  margin-block: 2.5rem 5rem;
}

@keyframes seamless-flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  overflow: hidden;
}

.star {
  position: absolute;
  background: linear-gradient(45deg, var(--color-accent), #e3f2fd);
  border-radius: 50%;
  animation: fallDiagonal 0.7s linear forwards;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  pointer-events: none !important;
}

@keyframes fallDiagonal {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(360deg);
    opacity: 0;
  }
}
.soc1als__list {
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
@media (width <= 90.06125rem) {
  .soc1als {
    -moz-column-gap: 0.875rem;
         column-gap: 0.875rem;
  }
}
.soc1als__item {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  padding-top: 3.75rem;
  color: var(--color-light);
  bottom: 0;
  position: relative;
}
.footer-logo {
  color: var(--color-light);
}
.footer-logo:hover {
  color: var(--color-light);
}
.footer .container {
  box-shadow: none;
}
.footer__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 2px solid var(--color-light);
  padding-bottom: 0.9375rem;
  align-items: center;
  cursor: pointer;
  width: 100%;
}
@media (width <= 32.56125rem) {
  .footer__info {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }
}
.footer__info-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.8125rem, 0.7647058824rem + 0.1960784314vw, 1rem);
}
.footer__info-soc1als {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__company {
  align-self: center;
  padding-block: 0.9375rem;
}
.footer a:hover {
  color: var(--color-light-15);
}

.metrics__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transform: translateY(12.5rem);
  opacity: 0;
  transition: 1.5s;
}
.metrics__list.is-visible {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
@media (width <= 76.93625rem) {
  .metrics__list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
  }
}
@media (width <= 32.56125rem) {
  .metrics__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.metrics__item {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 0.625rem;
  padding: 3.125rem;
}
.metrics__item dd {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.metrics__item:first-child {
  margin-left: 0;
}
.metrics__item:not(:last-child) {
  border-right: var(--border);
}
@media (width <= 76.93625rem) {
  .metrics__item:not(:last-child) {
    border-right: none;
    border-bottom: var(--border);
  }
}
@media (width <= 32.56125rem) {
  .metrics__item:not(:last-child) {
    border-right: var(--border);
    border-bottom: none;
  }
}
@media (width <= 76.93625rem) {
  .metrics__item {
    padding: 0rem;
  }
}
@media (width <= 32.56125rem) {
  .metrics__item {
    padding: 0;
    width: 100%;
    align-items: center;
  }
}
.metrics__sign {
  font-weight: 400;
  font-size: clamp(1.75rem, 1.5588235294rem + 0.7843137255vw, 2.5rem);
  color: var(--color-accent);
  margin-bottom: 0.25rem;
}

.resources-preview {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  row-gap: 1.875rem;
  transform: translateX(40.625rem);
  opacity: 0;
  transition: 1.5s;
}
.resources-preview.is-visible {
  -webkit-transform: translateX(40.625rem);
  -moz-transform: translateX(40.625rem);
  -ms-transform: translateX(40.625rem);
  -o-transform: translateX(40.625rem);
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.resources-preview__cost {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.resources-preview__cost-container {
  padding: 0.9375rem 1.5625rem;
  background-color: var(--color-accent);
  height: -moz-max-content;
  height: max-content;
  margin: 10rem 5rem 5rem 5rem;
  z-index: 10;
  border-radius: 0.5rem;
  color: var(--color-light);
  box-shadow: 0 0 3.8125rem 0.8125rem var(--color-accent);
}
@media (width <= 90.06125rem) {
  .resources-preview__cost-container {
    margin: 10% 5rem 5rem 5rem;
  }
}
.resources-preview__cost p {
  margin: 0;
  line-height: 1.4;
}
.resources-preview__cost p span {
  font-size: clamp(1.375rem, 1.1678921569rem + 0.8496732026vw, 2.1875rem);
}
.resources-preview-container {
  position: absolute;
  width: 31.25rem;
  height: 43.75rem;
}
.resources-preview-container svg {
  position: absolute;
}
.resources-preview-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  box-shadow: inset 0 50px 35px -10px var(--color-light), inset 0 -50px 35px -10px var(--color-light);
  z-index: 10;
  border-radius: inherit;
  z-index: 4;
}
.resources-preview__body {
  display: grid;
  row-gap: 0.875rem;
  padding-left: 5rem;
}
.resources-preview__button {
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.advantages {
  background-color: var(--color-accent);
  padding-block: 6.25rem;
  position: relative;
  z-index: 5;
  border-radius: 0 0 1.875rem 1.875rem;
}
.advantages-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/reviews/reviews-bg.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: 5;
  border-radius: 0 0 1.875rem 1.875rem;
  -webkit-border-radius: 0 0 1.875rem 1.875rem;
  -moz-border-radius: 0 0 1.875rem 1.875rem;
  -ms-border-radius: 0 0 1.875rem 1.875rem;
  -o-border-radius: 0 0 1.875rem 1.875rem;
}
@media (width <= 32.56125rem) {
  .advantages-background {
    background-attachment: local;
  }
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.4375rem;
  position: relative;
  z-index: 6;
}
.advantages__list-item {
  display: flex;
  flex-direction: column;
  border-radius: 0.9375rem;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  -o-border-radius: 0.9375rem;
  background-color: var(--color-light);
  padding: 1.5625rem 1.5625rem;
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
  background: linear-gradient(180deg, var(--color-blue) 27%, #9fc0ff 137%);
  max-width: 450px;
  align-self: center;
  opacity: 0;
  transform: translateY(150px);
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
}
.advantages__list-item.in-view {
  opacity: 1;
  transition: 1s;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
@media (width > 76.93625rem) {
  .advantages__list-item:nth-child(1) {
    transition-delay: 0.3s;
  }
}
@media (width > 76.93625rem) {
  .advantages__list-item:nth-child(2) {
    transition-delay: 1s;
  }
}
@media (width > 76.93625rem) {
  .advantages__list-item:nth-child(3) {
    transition-delay: 1.7s;
  }
}
.advantages__list-item svg {
  max-width: 65px;
  max-height: 65px;
  background-color: var(--color-light);
  padding: 8px;
  border-radius: 10px;
  color: var(--color-accent);
  box-shadow: var(--shadow-icons);
}
@media (width <= 32.56125rem) {
  .advantages__list-item svg {
    max-width: 50px;
    max-height: 50px;
  }
}
.advantages__list-item div {
  padding: 2.8125rem 1.875rem;
}
@media (width <= 32.56125rem) {
  .advantages__list-item div {
    padding: 0.625rem 0.625rem;
  }
}
.advantages__list-item h3 {
  margin-bottom: 0.625rem;
  text-align: center;
}
@media (width <= 59.43625rem) {
  .advantages__list {
    display: flex;
    flex-direction: column;
  }
}

.hero {
  padding-top: 6.25rem;
  position: relative;
  background-image: url("../img/hero/hero-grad-1.png");
  background-repeat: no-repeat;
  background-position: left;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/hero/own-wave.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  z-index: 5;
}
@media (width <= 32.56125rem) {
  .hero {
    background-image: none;
  }
}
.hero__main {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-areas: "body resources-preview" "metrics resources-preview";
  padding-bottom: 2.5rem;
  position: relative;
  z-index: 1;
}
@media (width <= 76.93625rem) {
  .hero__main {
    grid-template-areas: "body metrics" "body metrics";
    height: 100%;
  }
}
@media (width <= 32.56125rem) {
  .hero__main {
    grid-template-areas: "body body" "metrics metrics";
  }
}
.hero__body {
  grid-area: body;
  padding: 4% 10% 10% 0;
  transform: translateX(-40.625rem);
  opacity: 0;
  transition: 1.5s;
}
@media (width <= 76.93625rem) {
  .hero__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (width > 90.06125rem) {
  .hero__body {
    padding: 6.875rem 3.125rem 6.25rem 0;
  }
}
@media (width <= 32.56125rem) {
  .hero__body {
    transform: translateX(-15.625rem);
    -webkit-transform: translateX(-15.625rem);
    -moz-transform: translateX(-15.625rem);
    -ms-transform: translateX(-15.625rem);
    -o-transform: translateX(-15.625rem);
    padding: 1.25rem 0rem 4.0625rem 0;
    gap: 0.625rem;
  }
}
.hero__body.is-visible {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.hero__body h1 {
  font-family: var(--font-family-title);
}
@media (width <= 32.56125rem) {
  .hero__body h1 {
    margin-block: 0.625rem;
    white-space: pre-line;
  }
}
.hero__subtitle {
  font-size: clamp(1rem, 0.7769607843rem + 0.9150326797vw, 1.875rem);
  font-family: var(--font-family-accent);
  font-weight: 500;
  color: var(--color-light-40);
}
.hero__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.hero__resources-preview {
  grid-area: resources-preview;
  border-left: var(--border);
}
.hero__resources-preview svg {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
@media (width <= 76.93625rem) {
  .hero__resources-preview {
    display: none;
  }
}
.hero__metrics {
  grid-area: metrics;
}
.hero__advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hero__advantages-item {
  --paddingX: 5rem;
  padding-block: 3.125rem;
}
.hero__advantages-item:not(:first-child) {
  padding-left: var(--paddingX);
}
.hero__advantages-item:not(:last-child) {
  padding-right: var(--paddingX);
}

.stages {
  margin-top: 3.125rem;
}
.stages-arrow {
  fill: var(--color-light-40);
  width: 1.25rem;
  height: 1.25rem;
}
.stages-arrow.active {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
}
@media (width <= 32.56125rem) {
  .stages-arrow {
    width: 0.875rem;
    height: 0.875rem;
  }
}
.stages__list {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-10);
  padding-block: 1.875rem;
  border-radius: 0.625rem;
  position: relative;
  z-index: 5;
  cursor: pointer;
  box-shadow: var(--shadow);
}
.stages__list-item {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 1.25rem;
  align-items: center;
}
.stages__list-item svg:where(:not([class])) {
  justify-self: center;
  max-width: 2.8125rem;
  max-height: 2.8125rem;
  width: 100%;
  height: 100%;
}
@media (width <= 32.56125rem) {
  .stages__list-item svg:where(:not([class])) {
    max-width: 35px;
    max-height: 35px;
  }
}
.stages__list-item p {
  justify-self: center;
  margin-top: 0.9375rem;
}
.stages__list-item div {
  padding: 2.5rem;
}
.stages__list-item div h4 {
  color: var(--color-gray-50);
}
.stages__list-item div p {
  display: none;
}
.stages__list-item div p.active {
  display: block;
}
.stages__list-item div:not(:last-child) {
  border-bottom: var(--border);
}
@media (width <= 32.56125rem) {
  .stages__list-item div {
    padding: 1.25rem 0.625rem;
  }
}
@media (width <= 32.56125rem) {
  .stages__list-item {
    grid-template-columns: 1fr 5fr 1fr;
    gap: 0.5625rem;
  }
}
.stages-svg-1 {
  position: absolute;
  left: 0;
  transform: rotateY(180deg) rotateX(180deg);
  z-index: 1;
  -webkit-transform: rotateY(180deg) rotateX(180deg);
  -moz-transform: rotateY(180deg) rotateX(180deg);
  -ms-transform: rotateY(180deg) rotateX(180deg);
  -o-transform: rotateY(180deg) rotateX(180deg);
  max-width: 500px;
  width: 100%;
  max-height: 1000px;
  height: 100%;
}
.stages-svg-2 {
  position: absolute;
  right: 0;
  z-index: 1;
  transform: translateY(60%);
  -webkit-transform: translateY(60%);
  -moz-transform: translateY(60%);
  -ms-transform: translateY(60%);
  -o-transform: translateY(60%);
  overflow: hidden;
  max-width: 650px;
  width: 100%;
  height: 1000px;
}
.stages-svg-2 svg {
  transform: translateX(9.375rem);
  -webkit-transform: translateX(9.375rem);
  -moz-transform: translateX(9.375rem);
  -ms-transform: translateX(9.375rem);
  -o-transform: translateX(9.375rem);
}
.stages h2 {
  margin: 0;
  padding-block: 2.5rem;
}

.prices {
  padding-block: 6.25rem;
  position: relative;
  z-index: 5;
}
.prices-star {
  color: var(--color-accent);
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
.prices-star::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='512' height='512' viewBox='0 0 512 512' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0 512) scale(0.1 -0.1)' fill='%232457ff' stroke='none'%3E%3Cpath d='M2479 4997 c-62 -23 -108 -57 -137 -100 -16 -23 -161 -351 -322 -729 -291 -682 -293 -688 -324 -693 -17 -2 -359 -34 -761 -70 -777 -70 -772 -69 -843 -130 -69 -58 -107 -183 -83 -272 6 -23 26 -62 44 -86 17 -25 273 -256 567 -513 294 -256 547 -478 562 -493 l28 -26 -166 -725 c-108 -474 -166 -746 -167 -785 -1 -106 53 -194 150 -241 70 -35 156 -37 223 -7 25 11 277 159 560 328 283 169 563 336 621 371 58 35 113 66 121 69 8 3 276 -151 644 -371 346 -207 649 -386 674 -397 67 -31 153 -28 223 7 97 47 151 135 150 241 -1 39 -59 311 -167 785 l-165 725 22 21 c12 12 265 234 562 494 297 259 555 492 572 517 41 56 57 113 50 180 -11 102 -79 193 -171 228 -28 11 -283 38 -794 84 -414 38 -755 71 -757 73 -2 2 -138 316 -301 698 -163 382 -309 711 -324 731 -62 77 -202 119 -291 86z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  width: 1.3125rem;
  height: 1.3125rem;
  display: block;
  position: relative;
  bottom: 0.125rem;
}
.prices__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.4375rem;
}
.prices__list-item {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  border-radius: 0.9375rem;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  -o-border-radius: 0.9375rem;
  padding: 4.6875rem 3.4375rem 2.8125rem 3.4375rem;
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
  color: var(--color-light-40);
  opacity: 0;
  transform: translateY(150px);
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
  transition: opacity 1s ease, transform 1s ease;
}
.prices__list-item-start {
  background-color: var(--color-light-10);
}
.prices__list-item-start.in-view {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
@media (width > 76.93625rem) {
  .prices__list-item-start.in-view {
    transition-delay: 0.3s;
  }
}
.prices__list-item-medium {
  background-color: var(--color-blue);
}
.prices__list-item-medium.in-view {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
@media (width > 76.93625rem) {
  .prices__list-item-medium.in-view {
    transition-delay: 1s;
  }
}
.prices__list-item-premium {
  background: linear-gradient(115deg, var(--color-blue) 27%, #7494ff 160%);
}
.prices__list-item-premium.in-view {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
@media (width > 76.93625rem) {
  .prices__list-item-premium.in-view {
    transition-delay: 1.7s;
  }
}
.prices__list-item h4 {
  color: var(--color-light-40);
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.prices__list-item div {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  padding-block: 1.5625rem;
}
.prices__list-item div p {
  margin: 0;
}
.prices__list-item div :first-child {
  color: var(--color-accent);
  font-size: clamp(2.75rem, 2.6544117647rem + 0.3921568627vw, 3.125rem);
  line-height: 1;
  font-weight: 600;
}
.prices__list-item div :last-child {
  text-decoration: line-through;
  font-size: clamp(1.4375rem, 1.3897058824rem + 0.1960784314vw, 1.625rem);
}
.prices__list-item ul {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  padding-left: 1.25rem;
}
@media (width <= 32.56125rem) {
  .prices__list-item {
    padding: 2.6875rem 2.25rem 1.8125rem 2.25rem;
  }
}
.prices__list-button {
  margin-top: 1.5625rem;
  padding: 1.0625rem 1.75rem;
}

.reviews {
  max-width: 67.5rem;
  width: 100%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  position: relative;
  padding: 3.75rem 1.5625rem;
  border-radius: 12px;
  margin: 0 0.3125rem;
  z-index: 5;
}
.reviews-container {
  background-color: var(--color-accent);
  padding-block: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.875rem;
  position: relative;
  z-index: 5;
  background-image: url("../img/advantages/adv-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews-container h2 {
  color: var(--color-light);
}
.reviews__viewport {
  overflow: hidden;
  border-radius: 12px;
  box-shadow: var(--shadow);
  background-color: var(--color-light);
  max-width: 48.75rem;
  width: 100%;
  justify-self: center;
}
.reviews__list {
  display: flex;
  transition: transform 0.5s ease;
  align-items: start;
}
.reviews__item {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: flex-start;
  justify-content: center;
  padding: 8.125rem 6.25rem;
}
@media (width <= 32.56125rem) {
  .reviews__item {
    padding: 4.375rem 1.25rem;
  }
}
.reviews__item-name {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.reviews__rating {
  color: var(--color-gold);
}
.reviews__button {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-light);
  border: none;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow);
  font-size: 35px;
}
@media (width <= 32.56125rem) {
  .reviews__button {
    width: 2.8125rem;
    height: 2.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.reviews__button:disabled {
  opacity: 0;
  pointer-events: none;
}
.reviews__button--prev {
  left: 120px;
}
@media (width <= 76.93625rem) {
  .reviews__button--prev {
    left: 0;
  }
}
.reviews__button--next {
  right: 120px;
}
@media (width <= 76.93625rem) {
  .reviews__button--next {
    right: 0;
  }
}/*# sourceMappingURL=main.css.map */