@charset "UTF-8";
/*
Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

button {
  background-color: none;
  padding: 0;
  border: none;
  border-radius: 0;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: greenyellow;
}

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-light-10: #f7f7f7;
  --color-light-15: #d7d7d7;
  --color-light-20: #919191;
  --color-light-40: #666666;
  --color-gray-50: #7E7E81;
  --color-gray-60: #98989A;
  --color-accent: #2457ff;
  --color-blue: #edf3ff;
  --color-animated-1: #497dff;
  --color-animated-2: #2457ff;
  --color-animated-3: #76acff;
  --color-transperty: #60606067;
  --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);
  --border: 0.0625rem solid var(--color-light-15);
  --shadow: 0.0625rem 0.625rem 1.875rem var(--color-light-15);
  --font-family-base: "Montserrat", sans-serif;
  --font-family-accent: "Montserrat", sans-serif;
  --font-family-title: "Roboto Condensed", sans-serif;
  --container-width: 83.125rem;
  --container-padding-x: 1rem;
  --header-height: 7rem;
  --transition-duration: 0.2s;
}
@media (width <= 90.06125rem) {
  :root {
    --container-width: 80rem;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 59.43625rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 59.43625rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.isLock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-gray-50);
  background-color: var(--color-light);
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

svg:where(:not([class])) {
  color: var(--color-accent);
}

li:not([class]) {
  list-style: none;
  position: relative;
  padding-left: 25px;
}

li:not([class])::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='8' fill='%232457ff'/%3E%3C/svg%3E");
  background-size: contain;
  color: var(--color-accent);
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0.375rem;
  color: var(--color-accent);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-accent);
  font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-accent);
}

h1, .h1 {
  font-size: clamp(1.875rem, 1.237745098rem + 2.614379085vw, 4.375rem);
  line-height: 1.2;
}

h2, .h2 {
  font-size: clamp(1.75rem, 1.2720588235rem + 1.9607843137vw, 3.625rem);
  text-align: center;
  line-height: 1.3;
}

h3, .h3 {
  font-size: clamp(1.0625rem, 0.9191176471rem + 0.5882352941vw, 1.625rem);
  margin: 0;
}

h4, .h4 {
  font-size: clamp(1.0625rem, 0.9828431373rem + 0.3267973856vw, 1.375rem);
  margin: 0;
}

h5, .h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  z-index: 20;
}
.form-container:not(.is-active) {
  display: none;
}
.form-container form {
  display: grid;
  gap: 0.9375rem;
  padding: 0 6.25rem 1.875rem 6.25rem;
}
.form-container form input {
  width: 100%;
  padding: 0.4375rem 0.625rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.form-container form button {
  margin-top: 0.9375rem;
  background-color: var(--color-accent);
  padding: 0.625rem 2.5rem;
  border-radius: 0.625rem;
  color: var(--color-light);
  cursor: pointer;
}
.form-container form button:hover {
  background-color: var(--color-accent-hover);
  outline: var(--outline);
  color: var(--color-dark-10);
}
.form-container__close-button {
  align-self: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.9375rem;
  padding: 0.3125rem;
  background-color: var(--color-light);
}

.overlay {
  position: fixed;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-transperty);
}
.overlay:not(.is-active) {
  display: none;
}

.burger-button {
  width: 2.125rem;
  height: 2.125rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-light-40);
  background-color: transparent;
  border: none;
}
.burger-button:hover {
  color: var(--color-accent);
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.24em 0.34em;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:last-child {
  display: none;
}
.burger-button__line {
  background-color: currentColor;
  width: 100%;
  height: 0.125rem;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}
.burger-button__line:last-child {
  width: 55%;
  align-self: end;
}

.logo {
  font-size: clamp(2.8125rem, 2.493872549rem + 1.3071895425vw, 4.0625rem);
  color: var(--color-accent);
  line-height: 1;
}

.header {
  position: relative;
  z-index: 10;
  background-color: var(--color-light-10);
  box-shadow: var(--shadow);
  opacity: 0.94;
  height: var(--header-height);
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.header__body {
  padding: 1.5rem 4.375rem;
}
@media (width <= 59.43625rem) {
  .header__body {
    padding-block: 0.9375rem;
  }
}
.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (width > 59.43625rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 59.43625rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    background-color: var(--color-light-10);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    display: none;
  }
}
@media (width <= 59.43625rem) {
  .header__menu {
    overflow-y: auto;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 2.8125rem;
       column-gap: 2.8125rem;
  font-size: clamp(0.9375rem, 0.8737745098rem + 0.2614379085vw, 1.1875rem);
  font-family: var(--font-family-accent);
}
@media (width <= 90.06125rem) {
  .header__menu-list {
    padding: 0.625rem 1.125rem;
    -moz-column-gap: 1.875rem;
         column-gap: 1.875rem;
  }
}
@media (width <= 59.43625rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-link {
  padding: 0.625rem 1.5rem;
  color: var(--color-light-40);
}
.header__menu-link.is-active {
  color: var(--color-accent);
  font-weight: 500;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: 0.625rem;
  pointer-events: none;
}
@media (width <= 59.43625rem) {
  .header__contact-us-link {
    width: 100%;
    max-width: 18.75rem;
    align-self: center;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  padding: 1.25rem 1.5rem;
  font-size: clamp(0.9375rem, 0.8737745098rem + 0.2614379085vw, 1.1875rem);
  color: var(--color-light);
  white-space: nowrap;
  background-color: var(--color-accent);
  border-radius: 0.75rem;
  border: 1px solid var(--color-accent);
  line-height: 0.5;
}
@media (width <= 90.06125rem) {
  .button {
    padding: 0.875rem 1.25rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
  }
}
.button:hover {
  background-color: var(--color-light-10);
  color: var(--color-accent);
  border-color: var(--color-accent);
}
.button-accent {
  font-weight: 500;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-light);
  border-radius: 0.5rem;
}

.seamless-gradient-text {
  background: linear-gradient(90deg, var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-1), var(--color-animated-2), var(--color-animated-3), var(--color-animated-2));
  background-size: 1100% 500%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: seamless-flow 30s linear infinite;
  margin-block: 2.5rem 5rem;
}

@keyframes seamless-flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
  overflow: hidden;
}

.star {
  position: absolute;
  background: linear-gradient(45deg, var(--color-accent), #e3f2fd);
  border-radius: 50%;
  animation: fallDiagonal 0.7s linear forwards;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  pointer-events: none !important;
}

@keyframes fallDiagonal {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(360deg);
    opacity: 0;
  }
}
.soc1als__list {
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
@media (width <= 90.06125rem) {
  .soc1als {
    -moz-column-gap: 0.875rem;
         column-gap: 0.875rem;
  }
}
.soc1als__item {
  display: flex;
}

.footer {
  color: var(--color-dark-40);
}
.footer__body {
  padding-block: clamp(2.5rem, 1.862745098rem + 2.614379085vw, 5rem);
  border-bottom: var(--border);
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  -moz-column-gap: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
       column-gap: clamp(1.25rem, 0.2941176471rem + 3.9215686275vw, 5rem);
}
@media (width <= 76.93625rem) {
  .footer__menu {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
  }
}
@media (width <= 59.43625rem) {
  .footer__menu {
    row-gap: 1.25rem;
  }
}
.footer__menu-column {
  display: grid;
  row-gap: clamp(1rem, 0.681372549rem + 1.3071895425vw, 2.25rem);
}
@media (width <= 76.93625rem) {
  .footer__menu-column:last-child {
    grid-column: -1/1;
  }
  .footer__menu-column:last-child .footer__menu-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.5rem, 0.3406862745rem + 0.6535947712vw, 1.125rem);
}
.footer__menu-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.footer__extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-block: 2.5rem;
}
@media (width <= 90.06125rem) {
  .footer__extra {
    padding-block: 1.5rem;
  }
}
@media (width <= 59.43625rem) {
  .footer__extra {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.footer__extra-menu-list {
  display: flex;
}
.footer__extra-menu-item:not(:last-child)::after {
  content: "|";
  margin-inline: 0.6875rem;
}
@media (width <= 59.43625rem) {
  .footer__soc1als {
    order: -1;
  }
}

.metrics__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transform: translateY(12.5rem);
  opacity: 0;
  transition: 1.5s;
}
.metrics__list.is-visible {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
@media (width <= 76.93625rem) {
  .metrics__list {
    display: flex;
    flex-direction: column;
  }
}
@media (width <= 32.56125rem) {
  .metrics__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.metrics__item {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 0.625rem;
  padding: 3.125rem;
}
.metrics__item dd {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.metrics__item:first-child {
  margin-left: 0;
}
.metrics__item:not(:last-child) {
  border-right: var(--border);
}
@media (width <= 76.93625rem) {
  .metrics__item:not(:last-child) {
    border-right: none;
    border-bottom: var(--border);
  }
}
@media (width <= 32.56125rem) {
  .metrics__item:not(:last-child) {
    border-right: var(--border);
    border-bottom: none;
  }
}
@media (width <= 32.56125rem) {
  .metrics__item {
    padding: 0;
    width: 100%;
    align-items: center;
  }
}
.metrics__sign {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-accent);
}

.resources-preview {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  row-gap: 1.875rem;
  transform: translateX(40.625rem);
  opacity: 0;
  transition: 1.5s;
}
.resources-preview.is-visible {
  -webkit-transform: translateX(40.625rem);
  -moz-transform: translateX(40.625rem);
  -ms-transform: translateX(40.625rem);
  -o-transform: translateX(40.625rem);
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.resources-preview__cost {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.resources-preview__cost-container {
  padding: 0.9375rem 1.5625rem;
  background-color: var(--color-accent);
  height: -moz-max-content;
  height: max-content;
  margin: 10rem 5rem 5rem 5rem;
  z-index: 10;
  border-radius: 0.5rem;
  color: var(--color-light);
}
.resources-preview__cost p {
  margin: 0;
  line-height: 1.4;
}
.resources-preview__cost p span {
  font-size: clamp(1.375rem, 1.1678921569rem + 0.8496732026vw, 2.1875rem);
}
.resources-preview-container {
  position: absolute;
  width: 31.25rem;
  height: 43.75rem;
}
.resources-preview-container svg {
  position: absolute;
}
.resources-preview-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  box-shadow: inset 0 50px 35px -10px var(--color-light), inset 0 -50px 35px -10px var(--color-light);
  z-index: 10;
  border-radius: inherit;
  z-index: 4;
}
.resources-preview__body {
  display: grid;
  row-gap: 0.875rem;
  padding-left: 5rem;
}
.resources-preview__button {
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.advantages {
  background-color: var(--color-accent);
  padding-block: 6.25rem;
  box-shadow: 0 13px 20px var(--color-gray-60);
  position: relative;
  z-index: 5;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.4375rem;
}
.advantages__list-item {
  display: flex;
  flex-direction: column;
  border-radius: 0.9375rem;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  -o-border-radius: 0.9375rem;
  background-color: var(--color-light);
  padding: 1.5625rem 1.5625rem;
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
}
.advantages__list-item div {
  padding: 2.8125rem 1.875rem;
}
.advantages__list-item h3 {
  margin: 0;
  text-align: center;
}
@media (width <= 59.43625rem) {
  .advantages__list {
    display: flex;
    flex-direction: column;
  }
}

.hero {
  height: calc(100vh - var(--header-height));
}
.hero__main {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-areas: "body resources-preview" "metrics resources-preview";
}
@media (width <= 76.93625rem) {
  .hero__main {
    grid-template-areas: "body metrics" "body metrics";
  }
}
@media (width <= 32.56125rem) {
  .hero__main {
    grid-template-areas: "body body" "metrics metrics";
  }
}
.hero__body {
  grid-area: body;
  padding: 6.875rem 3.125rem 6.25rem 0;
  transform: translateX(-40.625rem);
  opacity: 0;
  transition: 1.5s;
}
.hero__body.is-visible {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.hero__body h1 {
  font-family: var(--font-family-title);
}
.hero__subtitle {
  font-size: clamp(1.125rem, 0.9338235294rem + 0.7843137255vw, 1.875rem);
  font-family: var(--font-family-accent);
  font-weight: 500;
  color: var(--color-light-40);
}
.hero__subtitle:not(:last-child) {
  margin-bottom: 1.875rem;
}
.hero__title:not(:last-child) {
  margin-bottom: 1.25rem;
}
.hero__resources-preview {
  grid-area: resources-preview;
  border-left: var(--border);
}
.hero__resources-preview svg {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
@media (width <= 76.93625rem) {
  .hero__resources-preview {
    display: none;
  }
}
.hero__metrics {
  grid-area: metrics;
}
.hero__advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hero__advantages-item {
  --paddingX: 5rem;
  padding-block: 3.125rem;
}
.hero__advantages-item:not(:first-child) {
  padding-left: var(--paddingX);
}
.hero__advantages-item:not(:last-child) {
  padding-right: var(--paddingX);
}

.stages__list {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-10);
  padding-block: 1.875rem;
  border-radius: 0.625rem;
  position: relative;
  z-index: 5;
  cursor: pointer;
  box-shadow: var(--shadow);
}
.stages__list-item {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  gap: 1.25rem;
  align-items: center;
}
.stages__list-item svg {
  justify-self: center;
}
.stages__list-item p {
  justify-self: center;
  margin-top: 0.9375rem;
}
.stages__list-item div {
  padding: 2.5rem;
}
.stages__list-item div h4 {
  color: var(--color-gray-50);
}
.stages__list-item div p {
  display: none;
}
.stages__list-item div p.active {
  display: block;
}
.stages__list-item div:not(:last-child) {
  border-bottom: var(--border);
}
.stages-svg-1 {
  position: absolute;
  left: 0;
  transform: rotateY(180deg) rotateX(180deg);
  z-index: 1;
  -webkit-transform: rotateY(180deg) rotateX(180deg);
  -moz-transform: rotateY(180deg) rotateX(180deg);
  -ms-transform: rotateY(180deg) rotateX(180deg);
  -o-transform: rotateY(180deg) rotateX(180deg);
  max-width: 500px;
  width: 100%;
  max-height: 1000px;
  height: 100%;
}
.stages-svg-2 {
  position: absolute;
  right: 0;
  z-index: 1;
  transform: translateY(60%);
  -webkit-transform: translateY(60%);
  -moz-transform: translateY(60%);
  -ms-transform: translateY(60%);
  -o-transform: translateY(60%);
  overflow-x: hidden;
  max-width: 650px;
  width: 100%;
  max-height: 1000px;
  height: 100%;
}
.stages-svg-2 svg {
  transform: translateX(9.375rem);
  -webkit-transform: translateX(9.375rem);
  -moz-transform: translateX(9.375rem);
  -ms-transform: translateX(9.375rem);
  -o-transform: translateX(9.375rem);
}
.stages h2 {
  margin: 0;
  padding-block: 2.5rem;
}

.prices {
  padding-block: 6.25rem;
  position: relative;
  z-index: 10;
}
.prices__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.4375rem;
}
.prices__list-item {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  border-radius: 0.9375rem;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  -o-border-radius: 0.9375rem;
  padding: 4.6875rem 3.4375rem 2.8125rem 3.4375rem;
  font-size: clamp(0.875rem, 0.7794117647rem + 0.3921568627vw, 1.25rem);
  color: var(--color-light-40);
}
.prices__list-item-start {
  background-color: var(--color-light-10);
}
.prices__list-item-medium {
  background-color: var(--color-blue);
}
.prices__list-item-premium {
  background: linear-gradient(115deg, var(--color-blue) 27%, #7494ff 137%);
}
.prices__list-item h3 {
  color: var(--color-light-40);
}
.prices__list-item div {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  padding-block: 1.5625rem;
}
.prices__list-item div p {
  margin: 0;
}
.prices__list-item div :first-child {
  color: var(--color-accent);
  font-size: clamp(1.875rem, 1.4289215686rem + 1.8300653595vw, 3.625rem);
  line-height: 1;
}
.prices__list-item div :last-child {
  text-decoration: line-through;
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
}
.prices__list-item ul {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
.prices__list-item h3 {
  margin: 0;
  text-align: center;
}
.prices__list-button {
  margin-top: 1.5625rem;
}
@media (width <= 63.4375rem) {
  .prices__list {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */